.note {
  background-color: bisque;
  padding: 20px;
  margin-bottom: 10px;
  border-radius: 20px;
  min-height: 170px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
  box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 6px 10px 5px 0px rgba(0,0,0,0.75);
}
.red {
	background-color: rgb(255, 108, 108);
}
.blue {
	background-color: rgb(104, 104, 255);

}
.green {
	background-color: rgb(127, 255, 127);
}
.yellow {
	background-color: rgb(255, 255, 100);
}
.note-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.notes-list {
	display: grid;
	grid-gap: 1rem;
	grid-template-columns: repeat(
		auto-fill,
		minmax(250px, 1fr)
	);
}
header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
header h1 {
	color: aqua;
	
}
.dark-mode {
	background-color: rgb(91, 91, 91);
	height: 100vh;
}

.App {
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 20px;
}
.note.newNote {
	background-color: #67d7cc;
	border: 6px dotted gray;
}
.note button {
	border-radius: 5px;
	border: none;
	margin: 0 5px;
	cursor: pointer;
	background-color: rgb(25, 25, 25);
	color: white;
}
.note button:hover {
	background-color: rgb(25, 255, 178);
}

textarea {
	border: none;
	resize: none;
	background-color: #67d7cc;
}

textarea:focus {
	outline: none;
}

.save {
	background-color: #e1e1e1;
	border: none;
	border-radius: 15px;
	padding: 5px 10px 5px 10px;
}

.save:hover {
	background-color: #ededed;
	cursor: pointer;
}

.delete-icons {
	cursor: pointer;
}
.delete-icons:hover {
	color: rgb(255, 255, 255);
}

.search {
	display: flex;
	align-items: center;
	background-color: #e1e1e1;
	margin:20px 0 ;
	padding: 10px;
	border-radius: 10px;
}
.search input {
	background-color: #e1e1e1;
	border: none;
	width: 100%;
	margin-left: 20px;
}
.search input:focus {
	outline: none;
}
